<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online-shop</title>
</head>
<body>
<h1>Online-shop</h1><hr>
<h4>Подробная информация о товаре</h4>
<b>Название товара: </b><span th:text="${product.title}"></span><br>
<b>Описание товара: </b><span th:text="${product.description}"></span><br>
<b>Цена: </b><span th:text="${product.price}"></span><br>
<b>Город: </b><span th:text="${product.city}"></span><br>
<b>Автор: </b><span th:text="${product.user.name}"></span><br>
<hr>
</body>
</html>